apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "jupyter.fullname" . }}
  labels:
    {{- include "jupyter.labels" . | nindent 4 }}
spec:
  replicas: 1
  selector:
    matchLabels:
      {{- include "jupyter.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "jupyter.selectorLabels" . | nindent 8 }}
    spec:
      containers:
        - name: jupyter
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - containerPort: 8888
          env:
            - name: JUPYTER_TOKEN
              value: {{ .Values.token | quote }}
          {{- if .Values.persistence.enabled }}
          volumeMounts:
            - name: notebooks
              mountPath: /home/your-name/work
          {{- end }}
      {{- if .Values.persistence.enabled }}
      volumes:
        - name: notebooks
          persistentVolumeClaim:
            claimName: {{ include "jupyter.fullname" . }}
      {{- end }}
